<section class="upload-panel mdl-cell mdl-cell--4-col">
    <div v-show="showDialog" class="upload-dialog mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp" transition="expand">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"> Upload Resource</h2>
        </div>
        <div class="upload-form mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="resource-title" v-model="resourceTitle">
                <label class="mdl-textfield__label" for="resource-title">Title</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="resource-tags" v-model="resourceTags">
                <label class="mdl-textfield__label" for="resource-tags">Tags</label>
            </div>
            <div class="mdl-textfield optional-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="resource-authors" v-model="resourceAuthors">
                <label class="mdl-textfield__label" for="resource-authors">Authors(optional)</label>
            </div>
            <div class="mdl-textfield optional-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="resource-url" v-model="resourceUrl">
                <label class="mdl-textfield__label" for="resource-url">Url(optional)</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="resource-description" v-model="resourceDescription">
                <label class="mdl-textfield__label" for="resource-description">Description(optional)</label>
            </div>
            <div class="upload-button-group">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" @click="openUploadFileDialog">
                    Upload File
                </button>
                <input type="file" id="upload-input" @change.stop.prevent="getUploadFile">

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" @click="uploadFile">
                    Commit
                </button>
            </div>
        </div>
    </div>
    <!-- Colored FAB button with ripple -->
    <button class="animated-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" :class="{'animated-fab-enter':showDialog}"
        @click="triggerShowDialog">
        <i class="material-icons">add</i>
    </button>
</section>