<section class="upload-panel">
    <div class="upload-dialog mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h3> Upload Resource</h3></div>
        <div class="mdl-card__supporting-text">
            <div class="upload-form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="upload-title">
                    <label class="mdl-textfield__label" for="upload-title">Title</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="upload-tags">
                    <label class="mdl-textfield__label" for="upload-tags">Tags</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="upload-authors">
                    <label class="mdl-textfield__label" for="upload-authors">Authors(optional)</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Button
                </button>
            </div>
        </div>
    </div>
    <!-- Colored FAB button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </button>
</section>