<div class="mdl-layout mdl-js-layout mdl-color--grey-100 mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Papers</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label" for="search">Enter your query...</label>
                </div>
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Papers</span>
        <nav class="mdl-navigation">
            <label class="mdl-navigation__link">
                <hr/>
            </label>
        </nav>
    </div>
    <div class="page-ribbon"></div>
    <main class="page-main mdl-layout__content">
        <div class="page-content">
            <!-- Your content goes here -->
            <search-box :papers-data.sync="papersData"></search-box>
            <tag-panel></tag-panel>
            <paper-card v-for="paper in papersData" :paper-data.sync="paper" transition="fade" transition-mode="out-in">
            </paper-card>
            <!--<paper-card></paper-card>-->
        </div>
    </main>
</div>