<div class="mdl-layout mdl-js-layout mdl-color--grey-100 mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Dragon's Lair</span>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Dragon's Lair</span>
        <nav class="mdl-navigation">
            <label class="mdl-navigation__link">
                <hr/>
            </label>
        </nav>
    </div>
    <div class="page-ribbon"></div>
    <main class="page-main mdl-layout__content">
        <div class="page-content mdl-grid">
            <!-- Your content goes here -->
            <search-box :resource-data.sync="resourceData"></search-box>
            <upload-panel></upload-panel>
            <paper-card v-for="resource in resourceData" :resource-data.sync="resource" transition="fade" transition-mode="out-in">
            </paper-card>
        </div>
    </main>
</div>